@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
* {
    font-family: Inconsolata, sans-serif;
}

small {
    font-size: 13px;
    font-weight: 800;
    color:rgb(102, 102, 102);
}

.book-name {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.15em;
    color:rgb(73, 73, 73);
}

.authors {
    font-weight: 600;
    font-size: 16px;
    color:rgb(73, 73, 73);
}

.author {
    margin: 0 20px;
}

button {
    padding: 6px 12px;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button:hover{
    background-color: rgb(185, 185, 185);
}