.wrapper {
    width: 500px;
    padding: 40px;
    border: 2px solid rgb(122, 121, 119);
    border-radius: 10px;
    margin: auto;
}

.profile-form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border: 2px solid hsl(0, 0%, 39%);
    border-radius: 10px;
}

.profile-form legend {
    font-size: inherit;
    /* line-height: 30px; */
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
}