
<div class="wrapper mt-5">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="container-sm">
        <h3 class="mb-3">Blog Form</h3>
        <div class="form-group">
            <label for="blogId">Blog ID</label>
            <input type="text" formControlName="id" id="bookId" placeholder="Enter blog id..." class="form-control" required>
            <br />
        </div>
        <div class="form-group">
            <label for="blogTitle">Blog Title</label>
            <input type="text" formControlName="title" id="blogTitle" placeholder="Enter blog title..." class="form-control" required>
            <br />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" id="description" rows="2" placeholder="What is the blog about?" class="form-control"></textarea>
            <br />
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" formControlName="author" id="author" placeholder="Enter blog author..." class="form-control" required>
            <br />
        </div>
        <fieldset formArrayName="comments">
            <label for="comments">Comments</label>&nbsp;
            <button type="button" class="btn btn-secondary btn-sm" (click)="addComment()">Add Comment</button>
            <div class="input-group my-3" *ngFor="let comment of commentFormArray.controls; index as i ">
                <textarea [formControlName]="i" placeholder="What can you say about the blog?" class="form-control"></textarea>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-info">{{(buttonName == "")? "Submit": buttonName}}</button>
    </form>
</div>
